.Xauthority
.bash_history
.bash_logout
.cache/
.calcurse/apts
.calcurse/todo
.config/BraveSoftware/
.config/configstore/
.config/dconf/
.config/htop/
.config/kwpolska/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/neofetch/
.config/nvim/.netrwhist
.config/wall.png
.esd_auth
.fehbg
.gnupg/
.local/
.mozilla/
.ncmpcpp/
.npm/
.password-store/
.pki/
.python_history
.shortcuts
.slack-term
.ssh/
.trash/
.vim/.netrwhist
.vim/plugged/
.viminfo
.offlineimaprc
gdrive
mbarakatt.github.io/
Dropbox/
Downloads/
Android/
AndroidStudioProjects/
notes
music
temp/
unity-projects/
virtualbox-vms/

