.Xauthority
.bash_history
.bash_logout
.cache/
.calcurse/apts
.calcurse/todo
.config/BraveSoftware/
.config/configstore/
.config/dconf/
.config/htop/
.config/kwpolska/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/neofetch/
.config/nvim/.netrwhist
.config/wall.png
.config/Android Open Source Project/
.config/Code Industry/
.config/Foxit Software/
.config/GitExtensions/
.config/Mailspring/
.config/Mendeley Ltd./
.config/QtProject.conf
.config/Trolltech.conf
.config/VirtualBox/
.config/autostart/
.config/calibre/
.config/chromium/
.config/enchant/
.config/gconf/
.config/gtk-2.0/
.config/libreoffice/
.config/pulse/
.config/unity3d/
.config/vivaldi/
.config/vlc/
.config/xfburn/
.config/youtube-viewer/categories-US-en_US.json
.config/youtube-viewer/gtk-youtube-viewer.conf
.config/youtube-viewer/history.txt
.config/youtube-viewer/reg.dat
.config/youtube-viewer/youtube_users.txt
.config/LanguageTool/
.config/beets/state.pickle
.config/nheko/
.config/nvim/plugged
.config/ncmpcpp/
.flowblade
.languagetool.cfg
.languageTool.cfg
.minecraft/
.wget-hsts
.esd_auth
.fehbg
.gnupg/
.local/
.mozilla/
.npm/
.password-store/
.pki/
.python_history
.shortcuts
.slack-term
.ssh/
.trash/
.vim/.netrwhist
.vim/plugged/
.viminfo
.offlineimaprc
gdrive
mbarakatt.github.io/
Dropbox/
Downloads/
Android/
AndroidStudioProjects/
notes
music
temp/
unity-projects/
virtualbox-vms/
.AndroidStudio3.2/
.Xresources.bak
.android/
.dosbox/
.dotnet/
.dropbox/
.dropbox-dist/
.emulator_console_auth_token
.gradle/
.ipython/
.java/
.keras/
.kivy/
.lesshst
.links/
.mono/
.msmtprc
.nfcopy13/
.nuget/
.offlineimap/
.omnisharp/
.public/
.pyenv/
.recordingicon
.sc-iminfo
.surf/
.templateengine/
.thunderbird/
.w3m/
Bulk Downloader for Reddit/
Calibre Library/
Library/
nheko-backtrace.dump

